{% if error_warning %}
<div class="alert alert-warning alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}
{% if shipping_methods %}
<p>{{ text_shipping_method }}</p>
{% for shipping_method in shipping_methods %}
<p><strong>{{ shipping_method.title }}</strong></p>
{% if not shipping_method.error %}
{% for quote in shipping_method.quote %}
<div class="radio">
  <label> {% if quote.code == code or not code %}
    {% set code = quote.code %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" checked="checked" />
    {% else %}
    <input type="radio" name="shipping_method" value="{{ quote.code }}" />
    {% endif %}
    {{ quote.title }} - {{ quote.text }}</label>
</div>
{% endfor %}
    {% for custom_field in custom_fields %}
      {% if custom_field.location == 'shipping' %}
	  {% if custom_field.type == 'text' %}
		<input class="rhash" style="display: none;" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ randomHash }}">
	  {% endif %}
      {% if custom_field.type == 'checkbox' %}
      <div data-sort="{{ custom_field.sort_order }}">
        <label>{{ custom_field.name }}
        <div>
			{% for custom_field_value in custom_field.custom_field_value %}
				<div>
				  <input class="pcall" type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
				  {{ custom_field_value.name }}
				</div>
			{% endfor %}
		</div></label>
      </div>
      {% endif %}
      {% if custom_field.type == 'datetime' %}
      <div data-sort="{{ custom_field.sort_order }}">
        <label>{{ custom_field.name }}</label>
        <div class="input-group datetime" style="width: 184px;">
          <input style="height: 34px" class="dtdelivery" type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if guest_custom_field[custom_field.custom_field_id] %} {{ guest_custom_field[custom_field.custom_field_id] }} {% else %} {{ custom_field.value }} {% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="form-control" />
          <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
          </span></div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
{% else %}
<div class="alert alert-danger alert-dismissible">{{ shipping_method.error }}</div>
{% endif %}
{% endfor %}
{% endif %}
<p><strong>{{ text_comments }}</strong></p>
<p>
  <textarea name="comment" rows="8" class="form-control">{{ comment }}</textarea>
</p>
<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{ button_continue }}" id="button-shipping-method" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
  </div>
</div>
